{% extends 'meghad/base.html' %}
{% load static %}

{% block title %}
Manage Vendors
{% endblock title %}

{% block head %} 
<link href="{% static 'assets/css/pages/wizard/wizard-4.css' %}" rel="stylesheet" type="text/css" />
{% endblock head %}

{% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="card card-custom card-transparent">
                <div class="card-body p-0">
                    <!--begin: Wizard-->
                    <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
                        <!--begin: Wizard Nav-->
                        <div class="wizard-nav">
                            <div class="wizard-steps">
                                <!--begin::Wizard Step 1 Nav-->
                                <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">1</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Personal Information</div>
                                            <!-- <div class="wizard-desc">C</div> -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 1 Nav-->
                                <!--begin::Wizard Step 2 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">2</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Employment Details</div>
                                            <!-- <div class="wizard-desc">Setup Your Address</div> -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 2 Nav-->
                                <!--begin::Wizard Step 3 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">3</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Required Documents</div>
                                            <!-- <div class="wizard-desc">Add Payment Options</div> -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 3 Nav-->
                                <!--begin::Wizard Step 4 Nav-->
                                <div class="wizard-step" data-wizard-type="step">
                                    <div class="wizard-wrapper">
                                        <div class="wizard-number">4</div>
                                        <div class="wizard-label">
                                            <div class="wizard-title">Review</div>
                                            <!-- <div class="wizard-desc"></div> -->
                                        </div>
                                    </div>
                                </div>
                                <!--end::Wizard Step 4 Nav-->
                            </div>
                        </div>
                        <!--end: Wizard Nav-->
                        <!--begin: Wizard Body-->
                        <div class="card card-custom card-shadowless rounded-top-0">
                            <div class="card-body p-0">
                                <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                                    <div class="col-xl-12 col-xxl-12">
                                        <!--begin: Wizard Form-->
                                        <form class="form mt-0 mt-lg-10" id="kt_form">
                                            <!--begin: Wizard Step 1-->
                                            <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                                <!-- <div class="mb-10 font-weight-bold text-dark">Enter your Account Details</div> -->
                                                <!--begin::Input-->
                                                <div class="row mx-auto mb-5">
                                                <div class="image-input image-input-empty image-input-outline mx-auto" id="kt_image_5" style="background-image: url({% static 'assets/media/users/blank.png' %})">
                                                    <div class="image-input-wrapper"></div>
                                                   
                                                    <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                     <i class="fa fa-pen icon-sm text-muted"></i>
                                                     <input type="file" name="profile_picture" accept=".png, .jpg, .jpeg"/>
                                                     <input type="hidden" name="profile_avatar_remove"/>
                                                    </label>
                                                   
                                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
                                                     <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                    </span>
                                                   
                                                    <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
                                                     <i class="ki ki-bold-close icon-xs text-muted"></i>
                                                    </span>
                                                </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-4">
                                                    <label>Full Name</label>
                                                    <input type="text" class="form-control" name="full_name" placeholder="Full Name" />
                                                    <span id="full_name_error" class="form-text text-danger"></span>
                                                    </div>
                                                    <div class="col-4">
                                                    <label>User Name</label>
                                                    <input type="text" class="form-control" name="username" placeholder="User Name" />
                                                    <span class="form-text text-muted">Username is how it appears on the site.</span>
                                                    <span id="username_error" class="form-text text-danger"></span>
                                                    </div>
                                                    <div class="col-4">
                                                    <label>Date of Birth</label>
                                                    <input name="dob" class="form-control" type="date" />
                                                    <span id="dob_error" class="form-text text-danger"></span>
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                    <!--begin::Select-->
                                                       <div class="form-group">
                                                        <label>Country</label>
                                                        <select id="select2-country" name="country" class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AX">Åland Islands</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AQ">Antarctica</option>
                                                            <option value="AG">Antigua and Barbuda</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU" >Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia, Plurinational State of</option>
                                                            <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, the Democratic Republic of the</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Côte d'Ivoire</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CU">Cuba</option>
                                                            <option value="CW">Curaçao</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GG">Guernsey</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard Island and McDonald Islands</option>
                                                            <option value="VA">Holy See (Vatican City State)</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN" selected="selected">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IR">Iran, Islamic Republic of</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IM">Isle of Man</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JE">Jersey</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KP">Korea, Democratic People's Republic of</option>
                                                            <option value="KR">Korea, Republic of</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Lao People's Democratic Republic</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macao</option>
                                                            <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia, Federated States of</option>
                                                            <option value="MD">Moldova, Republic of</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PS">Palestinian Territory, Occupied</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Réunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="BL">Saint Barthélemy</option>
                                                            <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint Lucia</option>
                                                            <option value="MF">Saint Martin (French part)</option>
                                                            <option value="PM">Saint Pierre and Miquelon</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SX">Sint Maarten (Dutch part)</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                            <option value="SS">South Sudan</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SD">Sudan</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="SY">Syrian Arab Republic</option>
                                                            <option value="TW">Taiwan, Province of China</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania, United Republic of</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TL">Timor-Leste</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                            <option value="VN">Viet Nam</option>
                                                            <option value="VG">Virgin Islands, British</option>
                                                            <option value="VI">Virgin Islands, U.S.</option>
                                                            <option value="WF">Wallis and Futuna</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                       </div>
                                                    </div>
                                                    <!--end::Select-->
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Phone Number 1</label>
                                                            <input type="tel" class="form-control" placeholder="Primary Contact Number" name="p_phone" />
                                                            <span class="form-text text-muted">Please enter primary phone number.</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Phone Number 2</label>
                                                            <input type="tel" class="form-control" placeholder="Secondary Contact Number" name="s_phone"  />
                                                            <span class="form-text text-muted">Please enter secondary phone number.</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <!--end::Select-->
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input type="email" class="form-control" name="email" placeholder="Email" />
                                                            <span class="form-text text-muted">Please enter vendor email Address.</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div> 
                                                    <div class="col-xl-6">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>About</label>
                                                            <textarea name="about" class="form-control" rows="10"></textarea>
                                                        </div>
                                                    </div>   
                                                </div>
                                            </div>
                                            <!--end: Wizard Step 1-->
                                            <!--begin: Wizard Step 2-->
                                            <div class="pb-5" data-wizard-type="step-content">
                                                <!-- <div class="mb-10 font-weight-bold text-dark">Setup Your Address</div> -->
                                                <!--begin::Input-->
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Experience</label>
                                                            <input type="text" pattern="[0-9]{2}" class="form-control" placeholder="Experience" name="experience" required>
                                                            <span class="form-text text-muted">Please provide expirience for Vendor</span>
                                                            <span id="experience_error" class="form-text text-danger"></span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-4">
                                                    <!--begin::Select-->
                                                       <div class="form-group">
                                                        <label>Languages</label>
                                                        <select id="select2-languages" name="languages" class="form-control" multiple>
                                                        </select>
                                                        <span id="languages_error" class="form-text text-danger"></span>
                                                       </div>
                                                    </div>
                                                    <!--end::Select-->
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-6">
                                                    <label>Skills</label>
                                                    <select id="select2-skills" name="skills" class="form-control" multiple>
                                                    </select>
                                                    <span id="skills_error" class="form-text text-danger"></span>
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                                <div class="separator separator-dashed my-3"></div>
                                                <!--begin::Input-->
                                                <div class="form-group row">
                                                    <div class="col-5">
                                                    <label>Main Category</label>
                                                    <select id="select2-category" name="category" class="form-control">
                                                    </select>
                                                    <span id="category_error" class="form-text text-danger"></span>
                                                    </div>
                                                </div>
                                                <!--end::Input-->
                                                <div class="row">
                                                    <div class="col-xl-2">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>INR Rate</label>
                                                            <input type="number" stpe="0.1" class="form-control" name="inr_rate" placeholder="INR Rate"  />
                                                            <span class="form-text text-muted">Please enter your INR Rate</span>
                                                            <span id="inr_rate_error" class="form-text text-danger"></span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-2">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>USD Rate</label>
                                                            <input type="number" step="0.1" class="form-control" name="usd_rate" placeholder="USD Rate"  />
                                                            <span class="form-text text-muted">Please enter your USD Rate</span>
                                                            <span id="usd_rate_error" class="form-text text-danger"></span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-2">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Rate Type</label>
                                                            <select id="select2-rate-type" name="rate_type" class="form-control">
                                                                <option value="PM">Per Minute</option>
                                                                <option value="PH">Per Hour</option>
                                                            </select>
                                                            <span class="form-text text-muted">Please enter your Rate Type.</span>
                                                            <span id="rate_type_error" class="form-text text-danger"></span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed my-3"></div>
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <!--begin::Input-->
                                                        <label>Permissions</label>
                                                        <div class="form-group row">
                                                            <label class="col-3 col-form-label">
                                                                AA Access
                                                            </label>
                                                             <span class="switch switch-icon">
                                                              <label>
                                                               <input type="checkbox" name="aa_access"/>
                                                               <span></span>
                                                              </label>
                                                             </span>
                                                             <span class="form-text col-12 text-muted">It will give vendor acess to send reports directly to customer.</span>
                                                        </div>
                                                    </div>
                                                        <!--end::Input-->
                                                    
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-xl-6">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label><b>Services</b></label>
                                                            </div>
                                                            <div class="col-4">
                                                                <label><b>Global</b></label>
                                                            </div>
                                                            <div class="col-4">
                                                                <label><b>Local</b></label>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-4">
                                                                <label>Video Call</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="vc" class="global-check" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_vc" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label>Audio Call</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="ac" class=".global-check-ac" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_ac" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label>Chatting</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="ch" class=".global-check" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_ch" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label>Live Service</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="ls" class=".global-check" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_ls" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label>Text Report</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="tr" class=".global-check" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_tr" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <label>Video Report</label>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input data-type="vr" class=".global-check" type="checkbox" name="select" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                            <div class="col-4">
                                                                <span class="switch switch-sm switch-icon">
                                                                    <label>
                                                                     <input type="checkbox" name="is_vr" />
                                                                     <span></span>
                                                                    </label>
                                                                   </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Wizard Step 2-->
                                            <!--begin: Wizard Step 3-->
                                            <div class="pb-5" data-wizard-type="step-content">
                                                <!-- <div class="mb-10 font-weight-bold text-dark">Enter your Payment Details</div> -->
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Aadhar Card Number</label>
                                                            <input type="number" class="form-control" name="aadhar_no" placeholder="Adhaar Card Number" />
                                                            <span class="form-text text-muted">Please enter your Card Number</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-8">
                                                        <!--begin::Input-->
                                                        <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                            <label>Front of Aadhar Card</label>
                                                            <input type="file" class="form-control" name="aadhar_card" placeholder="Aadhar Card Front" />
                                                            <span class="form-text text-muted">Please enter your Front Image of Aadhar Card.</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-12">
                                                            <label>Back of Aadhar Card</label>
                                                            <input type="file" class="form-control" name="aadhar_card" placeholder="Aadhar Card Back"/>
                                                            <span class="form-text text-muted">Please enter your Back Image of Aadhar Card.</span>
                                                            </div>
                                                        </div> 
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>Pan card number</label>
                                                            <input type="text" class="form-control" name="pan_no" placeholder="Pan Card Number" />
                                                            <span class="form-text text-muted">Please enter vendor's Pan number.</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-8">
                                                        <!--begin::Input-->
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-12">
                                                                <label>Front of Pan Card</label>
                                                                <input type="file" class="form-control" name="pan_card" placeholder="Pan Card Front" />
                                                                <span class="form-text text-muted">Please enter your Front Image of Pan Card.</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-12">
                                                                <label>Back of Pan Card</label>
                                                                <input type="file" class="form-control" name="pan_card" placeholder="Pan Card Back" />
                                                                <span class="form-text text-muted">Please enter your Back Image of Pan Card.</span>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <!--begin::Input-->
                                                        <div class="form-group">
                                                            <label>GST number</label>
                                                            <input type="text" class="form-control" name="gst_no" placeholder="GST Number" />
                                                            <span class="form-text text-muted">Please enter Vendor's GST number.</span>
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                    <div class="col-xl-8">
                                                        <!--begin::Input-->
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <div class="col-12">
                                                                <label>GST Certificate</label>
                                                                <input type="file" class="form-control" name="tax_remitence_file" placeholder="GST Certificate File" />
                                                                <span class="form-text text-muted">Please enter the Vendor's GST Certificate</span>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <!--end::Input-->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-4">
                                                        <div class="form-group">
                                                                <label>Intro Video</label>
                                                                <input type="file" class="form-control" name="intro_video" placeholder="Intro Video" />
                                                                <span class="form-text text-muted">Please enter the Vendor's Intro Video</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4">
                                                        <div class="form-group">
                                                                <label>Certificates</label>
                                                                <input type="file" class="form-control" name="certificates" placeholder="Certificates"/>
                                                                <span class="form-text text-muted">Please Attach Vendor's Certificates</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Wizard Step 3-->
                                            <!--begin: Wizard Step 4-->
                                            <div class="pb-5" data-wizard-type="step-content">
                                                <div class="row">
                                                <div class="col-8">
                                                <!--begin::Section-->
                                                <h4 class="mb-10 font-weight-bold text-dark">Review Vendors Details and Submit</h4>
                                                <h6 class="font-weight-bolder mb-3">Personal Information:</h6>
                                                <div class="text-dark-50 line-height-lg">
                                                    <div class="row col-12">
                                                        <label>Full Name:&nbsp;</label>
                                                        <div id="full_name" class="text-dark"></div>
                                                        <div id="error_full_name" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>User Name:&nbsp;</label>
                                                        <div id="username" class="text-dark"></div>
                                                        <div id="error_username" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Date Of Birth:&nbsp;</label>
                                                        <div id="dob" class="text-dark"></div>
                                                        <div id="error_dob" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Country:&nbsp;</label>
                                                        <div id="country"></div>
                                                        <div id="error_country" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Phone Number 1:&nbsp;</label>
                                                        <div id="p_phone"></div>
                                                        <div id="error_p_phone" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Phone Number 2:&nbsp;</label>
                                                        <div id="s_phone"></div>
                                                        <div id="error_s_phone" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Email:&nbsp;</label>
                                                        <div id="email"></div>
                                                        <div id="error_email" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>About:&nbsp;</label>
                                                        <div id="about"></div>
                                                        <div id="error_about" class="text-info"></div>
                                                    </div>
                                                </div>
                                                <div class="separator separator-dashed my-5"></div>
                                                <!--end::Section-->
                                                <!--begin::Section-->
                                                <h6 class="font-weight-bolder mb-3">Employment Details:</h6>
                                                <div class="text-dark-50 line-height-lg">
                                                    <div class="row col-12">
                                                        <label>Experience:&nbsp;</label>
                                                        <div id="experience" class="text-dark"></div>
                                                        <div id="error_experience" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Languages:&nbsp;</label>
                                                        <div id="languages" class="text-dark"></div>
                                                        <div id="error_languages" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Skills:&nbsp;</label>
                                                        <div id="skills"></div>
                                                        <div id="error_skills" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>Main Category:&nbsp;</label>
                                                        <div id="category"></div>
                                                        <div id="error_category" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>INR Rate:&nbsp;</label>
                                                        <div id="inr_rate"></div>
                                                        <div id="error_inr_rate" class="text-info"></div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <label>USD Rate:&nbsp;</label>
                                                        <div id="usd_rate"></div>
                                                        <div id="error_usd_rate" class="text-info"></div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="card card-custom gutter-b bg-light">
                                                        <!--begin::header-->
                                                        <div class="card-header border-0">
                                                            <h3 class="card-title font-weight-bolder">Required Documents</h3>
                                                        </div>
                                                        <!--end::header-->
                                                        <!--begin::Body-->
                                                        <div class="card-body pt-0">
                                                            
                                                            <!--begin::Item-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Checkbox-->
                                                                <label class="checkbox checkbox-lg checkbox-success flex-shrink-0 m-0 mr-4">
                                                                    <input id="check_aadhar_card" type="checkbox" disabled>
                                                                    <span></span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                                <!--begin::Text-->
                                                                <div class="d-flex flex-column flex-grow-1 py-2">
                                                                    <a href="javascript:;" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Aadhar Card</a>
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Checkbox-->
                                                                <label class="checkbox checkbox-lg checkbox-success flex-shrink-0 m-0 mr-4">
                                                                    <input id="check_pan_card" type="checkbox" disabled>
                                                                    <span></span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                                <!--begin::Text-->
                                                                <div class="d-flex flex-column flex-grow-1 py-2">
                                                                    <a href="javascript:;" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Pan Card</a>
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Checkbox-->
                                                                <label class="checkbox checkbox-lg checkbox-success flex-shrink-0 m-0 mr-4">
                                                                    <input id="check_tax_remitence_file" type="checkbox" disabled>
                                                                    <span></span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                                <!--begin::Text-->
                                                                <div class="d-flex flex-column flex-grow-1 py-2">
                                                                    <a href="javascript:;" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Tax Remitance</a>
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Checkbox-->
                                                                <label class="checkbox checkbox-lg checkbox-success flex-shrink-0 m-0 mr-4">
                                                                    <input id="check_intro_video" type="checkbox" disabled>
                                                                    <span></span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                                <!--begin::Text-->
                                                                <div class="d-flex flex-column flex-grow-1 py-2">
                                                                    <a href="javascript:;" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Intro Video</a>
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="d-flex align-items-center">
                                                                <!--begin::Checkbox-->
                                                                <label class="checkbox checkbox-lg checkbox-success flex-shrink-0 m-0 mr-4">
                                                                    <input id="check_certificates" type="checkbox" disabled>
                                                                    <span></span>
                                                                </label>
                                                                <!--end::Checkbox-->
                                                                <!--begin::Text-->
                                                                <div class="d-flex flex-column flex-grow-1 py-2">
                                                                    <a href="javascript:;" class="text-dark-75 font-weight-bold text-hover-primary font-size-lg mb-1">Certificates</a>
                                                                </div>
                                                                <!--end::Text-->
                                                            </div>
                                                            <!--end::Item-->
                                                            
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                    <div class="card card-custom gutter-b bg-light">
                                                        <!--begin::Body-->
                                                        <div class="card-body">
                                                            <p>
                                                                In case you are struggling with any of these
                                                                steps and have any confusion, please make
                                                                sure to contact <a href="mailto:support@meghsawna.com">support@meghsawna.com</a>
                                                                We will be happy to help you
                                                            </p>
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>
                                                </div>
                                                <!--end::Section-->
                                            </div>
                                            <!--end: Wizard Step 4-->
                                            <!--begin: Wizard Actions-->
                                            <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-prev">Previous</button>
                                                </div>
                                                <div>
                                                    <button id="CreateVendorButton" type="button" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-submit">Submit</button>
                                                    <button type="button" class="btn btn-primary font-weight-bolder text-uppercase px-9 py-4" data-wizard-type="action-next">Next</button>
                                                </div>
                                            </div>
                                            <!--end: Wizard Actions-->
                                        </form>
                                        <!--end: Wizard Form-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Wizard Bpdy-->
                    </div>
                    <!--end: Wizard-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
{% endblock content %}

{% block page_specific_js %}
<script src="{% static 'meghad/add-vendor.js' %}"></script>
{% endblock page_specific_js %}  
