{% extends 'meghad/base.html' %}
{% load static %}

{% block title %}
Manage Vendors
{% endblock title %}

{% block head %}
<link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css" />
{% endblock head%}

{% block content %}
<!--begin::Content-->
<div class="content-fluid d-flex flex-column flex-column-fluid" id="kt_content">
   
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Notice-->
            <!--end::Notice-->
            <!--begin::Card-->
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!--begin: Search Form-->
                    <!--begin::Search Form-->
                    <div class="mb-7">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                            <span>
                                                <i class="flaticon2-search-1 text-muted"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="d-flex align-items-center">
                                            <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                            <select class="form-control" id="kt_datatable_search_status">
                                                <option value="">All</option>
                                                <option value="1">Active</option>
                                                <option value="2">In Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 my-2 my-md-0">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!--end::Search Form-->
                    <!--end: Search Form-->
                    <!--begin: Selected Rows Group Action Form-->
                    <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form">
                        <div class="d-flex align-items-center">
                            <div class="font-weight-bold text-danger mr-3">Selected
                            <span id="kt_datatable_selected_records">0</span>&nbsp;records:</div>
                            <div class="dropdown mr-2">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">Update status</button>
                                <div class="dropdown-menu dropdown-menu-sm">
                                    <ul class="nav nav-hover flex-column">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <span class="nav-text">Active</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <span class="nav-text">Disabled</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <span class="nav-text">Banned</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-danger mr-2" type="button" id="kt_datatable_delete_all">Delete All</button>
                        </div>
                    </div>
                    <!--end: Selected Rows Group Action Form-->
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    <!--end: Datatable-->
                </div>
            </div>
            <!--end::Card-->
            <!--begin::Modal-->
            <div class="modal fade" id="kt_datatable_fetch_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel1">Selected Records</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="scroll" data-scroll="true" data-height="200">
                                <ul id="kt_datatable_fetch_display"></ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
            <!--begin::Card-->
            <!--end::Card-->
            <!--begin::Modal-->
            <div class="modal fade" id="kt_datatable_fetch_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Selected Records</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="scroll" data-scroll="true" data-height="200">
                                <ul id="kt_datatable_fetch_display_2"></ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Modal-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->

<!-- begin::User Panel-->
<div id="vendor_detail_aside" class="offcanvas offcanvas-right p-10">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
        <h3 class="font-weight-bold m-0">Vendor Details
        </h3>
        <a href="javascript:;" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div id="sidebar-content" class="offcanvas-content pr-5 mr-n5">
    </div>
    <!--end::Content-->
</div>
<!-- end::User Panel-->

<div class="modal fade" id="PermissionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Permissions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form onsubmit="UpdatePermissions(event)">
                    <div class="col-xl-12">
                        <!--begin::Input-->
                        <label>Permissions</label>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">
                                AA Access
                            </label>
                             <span class="switch switch-icon">
                              <label>
                               <input id="aa_access" type="checkbox" name="aa_access"/>
                               <span></span>
                              </label>
                             </span>
                             <span class="form-text col-12 text-muted">It will give vendor acess to send reports directly to customer.</span>
                        </div>
                    </div>
                        <!--end::Input-->
                    
                </div>
                <div class="row mt-2">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-4">
                                <label><b>Services</b></label>
                            </div>
                            <div class="col-4">
                                <label><b>Global</b></label>
                            </div>
                            <div class="col-4">
                                <label><b>Local</b></label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label>Video Call</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="global-check-vc" data-type="vc" class="global-check perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="local-check-vc" type="checkbox" class="perm-check" name="is_vc" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Audio Call</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input data-type="ac" id="global-check-ac" class="perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="local-check-ac" type="checkbox" class="perm-check" name="is_ac" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Chatting</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input data-type="ch" id="global-check-ch" class="perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="local-check-ch" type="checkbox" class="perm-check" name="is_ch" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Live Service</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input data-type="ls" id="global-check-ls" class="perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="local-check-ls" type="checkbox" class="perm-check" name="is_ls" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Text Report</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input data-type="tr" id="global-check-tr" class="perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input id="local-check-tr" type="checkbox" class="perm-check" name="is_tr" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Video Report</label>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input data-type="vr" id="global-check-vr" class="perm-check" type="checkbox" name="select" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                            <div class="col-4">
                                <span class="switch switch-sm switch-icon">
                                    <label>
                                     <input  id="local-check-vr" type="checkbox" class="perm-check" name="is_vr" />
                                     <span></span>
                                    </label>
                                   </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                <button id="ConfirmButton" type="submit" class="btn btn-primary font-weight-bold">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_specific_js %}
<script src="{% static 'meghad/manage-vendors.js' %}"></script>
<script src="{% static 'meghad/offcanvas.js' %}"></script>
{% endblock page_specific_js %}  
