{% extends 'meghad/base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}
<div class="content-fluid d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
            <div class="col-6">
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <form class="form" onsubmit="AddCategory(event)">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Category Title</label>
                                    <input type="text" class="form-control" name="title" placeholder="Enter Category Title" />
                                    <span class="form-text text-muted">The name is how it appears on the site</span>
                                </div>

                                <div class="form-group">
                                    <label>Slug</label>
                                    <input type="text" class="form-control" name="slug" placeholder="Enter Slug for Category" />
                                    <span id="slug_error" class="form-text text-danger"></span>
                                </div>

                                <div class="separator separator-dashed my-5"></div>

                                <div class="form-group">
                                    <label>Parent</label>
                                        <select class="form-control select2" id="select2-parent" name="parent">
                                            <option label="Label"></option>
                                        </select>
                                </div>

                                <div class="separator separator-dashed my-5"></div>

                                <div class="form-group mb-1">
                                    <label for="exampleTextarea">Description</label>
                                    <textarea name="description" class="form-control" rows="10"></textarea>
                                    <span class="form-text text-muted">The description is not prominent by default</span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button id="add-category" type="submit" class="btn btn-primary mr-2">Add Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-custom gutter-b">
                    <div class="card-body">
                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
{% endblock content %}

{% block page_specific_js %}
<script src="{% static 'meghad/vendor-category.js' %}"></script>
{% endblock page_specific_js %}
