<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Threads</title>
</head>
<body>
    What chat thread would you like to enter?<br>
    {% for thread in threads %}
    <a href="{% url 'chat' thread.token %}" style="width: auto;">
    <input onclick="ChangePage({{thread.token}})" id="room-name-submit-{{thread.id}}" type="button">
    </a>
    {% endfor %}
    <script>
        function ChangePage(token) {
            window.location.pathname = '/test-chat/chats/' + token + '/'
        }
    </script>
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
</body>
</html>